NS_HTTP_PORT=3000
NS_LOG_LEVEL=info
NS_SITE_DOMAIN=demo.viafoura.com
NS_SITE_UUID=00000000-0000-4000-8000-d47205fca416
NS_LIVE_COMMENTS_URI=https://livecomments.viafoura.co/v4/livecomments/
NS_ONE_SIGNAL_API_KEY=<UPDATE-SECRET-HERE-TO-RUN-IN-DOCKER-COMPOSE>
NS_ONE_SIGNAL_APP_ID=<UPDATE-SECRET-HERE-TO-RUN-IN-DOCKER-COMPOSE>
NS_ONE_SIGNAL_URI=https://api.onesignal.com/
NS_ONE_SIGNAL_TIMEOUT=30000
NS_SUBTEXT_API_KEY=<UPDATE-SECRET-HERE-TO-RUN-IN-DOCKER-COMPOSE>
